In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.9/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [44]:
import os 
import pandas as pd
import numpy as np
from datetime import datetime

In [45]:
# Get the current directory
current_directory = os.getcwd()

print(f"current directory: {current_directory}")

current directory: /Users/hayleyluo/Desktop/Github/ML-kaggle-on-the-snow-ski-area-reviews/kaggle-ski-area-review

In [46]:
file = f"{current_directory}/datasets/raw/OnTheSnow_SkiAreaReviews.csv"
df = pd.read_csv(file, header=0)
df

,Unnamed: 0,State,Ski Area,Reviewer Name,Review Date,Review Star Rating (out of 5),Review Text
0,0,california,squaw-valley-usa,philip sayles,31st December 2019,3,I'm glad our family experienced Squaw but I wo...
1,1,california,squaw-valley-usa,mateonelson,22nd May 2019,4,"I went skiing today 5/22, granite chief was am..."
2,2,california,squaw-valley-usa,NaN,7th March 2019,2,We had a horrible experience on our family ski...
3,3,california,squaw-valley-usa,Ivan Cazares,5th March 2019,3,This is the first year I ski Squaw. I've been ...
4,4,california,squaw-valley-usa,welzbob,26th February 2019,3,"Both Squaw and Alpine have incredible terrain,..."
...,...,...,...,...,...,...,...
18257,18257,new-hampshire,whaleback-mountain,Matthijs,18th March 2017,1,Looks like they only made snow on one trail. Y...
18258,18258,new-hampshire,whaleback-mountain,Dolly,25th February 2017,3,Looks cute from highway........ but not enough...
18259,18259,new-hampshire,whaleback-mountain,Roger,11th February 2017,3,Place has incredible potential. Could be best ...
18260,18260,new-hampshire,whaleback-mountain,Arthur,10th February 2017,2,Great exposure from interstate......... but lo...
18261,18261,new-hampshire,whaleback-mountain,David Cook,4th February 2017,2,My dad and I visited on a whim on our way back...

In [47]:
# Set the first column ('col1') as the index
df = df.drop(df.columns[0], axis=1)  # Drop by index
df

,State,Ski Area,Reviewer Name,Review Date,Review Star Rating (out of 5),Review Text
0,california,squaw-valley-usa,philip sayles,31st December 2019,3,I'm glad our family experienced Squaw but I wo...
1,california,squaw-valley-usa,mateonelson,22nd May 2019,4,"I went skiing today 5/22, granite chief was am..."
2,california,squaw-valley-usa,NaN,7th March 2019,2,We had a horrible experience on our family ski...
3,california,squaw-valley-usa,Ivan Cazares,5th March 2019,3,This is the first year I ski Squaw. I've been ...
4,california,squaw-valley-usa,welzbob,26th February 2019,3,"Both Squaw and Alpine have incredible terrain,..."
...,...,...,...,...,...,...
18257,new-hampshire,whaleback-mountain,Matthijs,18th March 2017,1,Looks like they only made snow on one trail. Y...
18258,new-hampshire,whaleback-mountain,Dolly,25th February 2017,3,Looks cute from highway........ but not enough...
18259,new-hampshire,whaleback-mountain,Roger,11th February 2017,3,Place has incredible potential. Could be best ...
18260,new-hampshire,whaleback-mountain,Arthur,10th February 2017,2,Great exposure from interstate......... but lo...
18261,new-hampshire,whaleback-mountain,David Cook,4th February 2017,2,My dad and I visited on a whim on our way back...

In [48]:
# impute the missing value in Reviewer Name with anonymous_user
df['Reviewer Name'].fillna("anonymous_user", inplace=True)
df

,State,Ski Area,Reviewer Name,Review Date,Review Star Rating (out of 5),Review Text
0,california,squaw-valley-usa,philip sayles,31st December 2019,3,I'm glad our family experienced Squaw but I wo...
1,california,squaw-valley-usa,mateonelson,22nd May 2019,4,"I went skiing today 5/22, granite chief was am..."
2,california,squaw-valley-usa,anonymous_user,7th March 2019,2,We had a horrible experience on our family ski...
3,california,squaw-valley-usa,Ivan Cazares,5th March 2019,3,This is the first year I ski Squaw. I've been ...
4,california,squaw-valley-usa,welzbob,26th February 2019,3,"Both Squaw and Alpine have incredible terrain,..."
...,...,...,...,...,...,...
18257,new-hampshire,whaleback-mountain,Matthijs,18th March 2017,1,Looks like they only made snow on one trail. Y...
18258,new-hampshire,whaleback-mountain,Dolly,25th February 2017,3,Looks cute from highway........ but not enough...
18259,new-hampshire,whaleback-mountain,Roger,11th February 2017,3,Place has incredible potential. Could be best ...
18260,new-hampshire,whaleback-mountain,Arthur,10th February 2017,2,Great exposure from interstate......... but lo...
18261,new-hampshire,whaleback-mountain,David Cook,4th February 2017,2,My dad and I visited on a whim on our way back...

In [49]:
df.columns

Index(['State', 'Ski Area', 'Reviewer Name', 'Review Date',
       'Review Star Rating (out of 5)', 'Review Text'],
      dtype='object')

In [50]:
# add a new columns to indicate missing reviews
def generate_review_text_boolean(row):
    if row['Review Text'] is np.nan:
        return 0
    else:
        return 1
    
    
# if row['Review Text'] is np.nan else 0
df['Review Missing']=df.apply(generate_review_text_boolean,axis=1)
df

,State,Ski Area,Reviewer Name,Review Date,Review Star Rating (out of 5),Review Text,Review Missing
0,california,squaw-valley-usa,philip sayles,31st December 2019,3,I'm glad our family experienced Squaw but I wo...,1
1,california,squaw-valley-usa,mateonelson,22nd May 2019,4,"I went skiing today 5/22, granite chief was am...",1
2,california,squaw-valley-usa,anonymous_user,7th March 2019,2,We had a horrible experience on our family ski...,1
3,california,squaw-valley-usa,Ivan Cazares,5th March 2019,3,This is the first year I ski Squaw. I've been ...,1
4,california,squaw-valley-usa,welzbob,26th February 2019,3,"Both Squaw and Alpine have incredible terrain,...",1
...,...,...,...,...,...,...,...
18257,new-hampshire,whaleback-mountain,Matthijs,18th March 2017,1,Looks like they only made snow on one trail. Y...,1
18258,new-hampshire,whaleback-mountain,Dolly,25th February 2017,3,Looks cute from highway........ but not enough...,1
18259,new-hampshire,whaleback-mountain,Roger,11th February 2017,3,Place has incredible potential. Could be best ...,1
18260,new-hampshire,whaleback-mountain,Arthur,10th February 2017,2,Great exposure from interstate......... but lo...,1
18261,new-hampshire,whaleback-mountain,David Cook,4th February 2017,2,My dad and I visited on a whim on our way back...,1

In [51]:
# convert the date to datetime object
def convert_date(date_str):
    if '-' in date_str:
        date_str = date_str.split(' - ')[1]
    day = date_str.split(' ')[0].replace('st', '').replace('nd', '').replace('rd', '').replace('th', '') 
    date_str = day + " " + date_str.split(' ')[1] + " " +date_str.split(' ')[2]
    return datetime.strptime(date_str, "%d %B %Y")

df['Review Date datetime'] = df['Review Date'].apply(convert_date)
df = df.drop(['Review Date'],axis=1)

In [52]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('punkt_tab')

stop_words = set(stopwords.words("english"))
lemmatizer = WordNetLemmatizer()

def clean_text(text):
    text = str(text).lower()
    text = re.sub(r"[^a-z\s]", "", text)
    text = re.sub(r"\s+", " ", text).strip()
    tokens = word_tokenize(text)
    tokens = [lemmatizer.lemmatize(w) for w in tokens if w not in stop_words]
    return " ".join(tokens)

df["Review Text Cleaned"] = df["Review Text"].apply(clean_text)

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/hayleyluo/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/hayleyluo/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/hayleyluo/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     /Users/hayleyluo/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [41]:
df.columns

Index(['State', 'Ski Area', 'Reviewer Name', 'Review Star Rating (out of 5)',
       'Review Text', 'Review Missing', 'Review Date datetime',
       'Review Text Cleaned'],
      dtype='object')

In [42]:
df.to_csv(f'{current_directory}/datasets/bronze/on_the_snow_ski_area_reviews.csv')